div.trick-title {
    padding: 2em;
    background-size: cover;
    height: 350px;
}

div.trick-title h1, div.trick-title h4{
    color : white;
    text-shadow: 3px 3px 3px rgba(0, 0 , 0, 0.5);
}

div.container {
    margin-top: 10px;
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-mini {
    max-width: 24px;
    max-height: 24px;
}

#trickContent {
    padding-top: 30px;
    padding-bottom: 30px;
}

.mediaTrick {
    width: 300px;
    height: 150px;
}

.info {
    background-color: #eff0f2;
}

#arrowDownTrickList {
    position: relative;
    top: -50px;
}

#nameSite {
    color: #eff0f2;
}
@media (min-width: 576px) {
    #navBarMobile {
        display: none;
    }
    #seeMedia {
        display: none;
    }

    #avatarProfile {
        max-width: 128px;
        max-height: 128px;
        border-radius: 50%;
    }

    #arrowUpTrickList {
        position: relative;
        bottom: -20px;
    }
}

@media (max-width: 576px) {
    .trickMedia {
        display: none;
    }

    #navBarWeb {
        display: none;
    }

    #navBarMobile {
        display: inline-flex;
    }

    #avatarProfile {
        max-width: 64px;
        max-height: 64px;
    }

    #indexImage {
        height: 630px;
        width: 375px;
    }

    #arrowUpTrickList {
        position: relative;
        bottom: 20px;
    }
}



