<h3>Salut {{ name }}!</h3>

Votre inscription à bien été enregistré.<br/>
Vous pouvez à présent poster de nouveaux Tricks et commenter afin de faire vivre notre communauté.<br/>
<br/>
Au plaisir de vous voir sur <a href="{{ url('app_trick_index') }}">SNOWTRICKS</a>.<br/>
<br/>
Merci et a bientôt.
