<h3>Salut !</h3>

Pour mettre à jour ton de passe clique sur le lien suivant : <br>
<a href="{{ url('app_security_updatepassword', {'email': user.email, 'token': user.token}) }}">Mettre à jour mon mot de passe !</a>
<br>
<br/>
Au plaisir de te voir sur <a href="{{ url('app_app_index') }}">SNOWTRICKS</a>.<br/>
<br/>
Merci et à bientôt.