<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ 'word.name.site'|trans|capitalize }} {{ 'word.punctuation.tiret'|trans }} {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% include '/partials/navBarDesktop.html.twig' %}
    {% for key, messages in app.flashes() %}
        <div class="container">
            <div class="alert alert-{{ key }} text-center" role="alert">
                {% for message in messages %}
                    {{ message|trans }}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% block body %}
{% endblock %}
{% include '/partials/navBarMobile.html.twig' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
