{% extends 'base.html.twig' %}

{% block title %}{{ 'word.list.trick'|trans }}{% endblock %}

{% block body %}
    <div id="carouselTrickIndex" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for image in images  %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <img src="{{ image.linkPath }}" class="d-block w-100" alt="{{ image.caption }}">
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselTrickIndex" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselTrickIndex" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container">
        {% include '/partials/_trickCard.html.twig' %}
    </div>
{% endblock %}
